.carousel {
  position: relative;
  width: 100%;
  overflow: hidden;
  box-sizing: border-box;
}

.carousel__images {
  display: flex;
  gap: 50px;
  transition: transform 0.5s ease;
  box-sizing: border-box;
  margin-left: 35px;
}

@media (max-width: 768px) {
  .carousel__images {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-content: center;
    margin-bottom: 114px;
    transform: none !important;
  }
}

@media (max-width: 430px) {
  .carousel__images {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    scrollbar-width: none;
    margin-bottom: 72px;
    justify-content: normal;
  }

  .carousel__images::-webkit-scrollbar {
    display: none;
  }
}

.carousel__image {
  transition: transform 0.5s ease;
}

@media (max-width: 430px) {
  .carousel__image {
    scroll-snap-align: center;
  }
}

.carousel__image--background {
  width: 340px;
  height: 414px;
  display: block;
  object-fit: cover;
  border-radius: 20px;
  flex-shrink: 0;
}

@media (max-width: 430px) {
  .carousel__image--background {
    width: 206px;
    height: 251px;
  }
}

.carousel__image--instagram {
  width: 46px;
  height: 46px;
  position: absolute;
  top: 18px;
  left: 18px;
  object-fit: cover;
}

.carousel__dots {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 92px;
  margin-bottom: 44px;
}

@media (max-width: 768px) {
  .carousel__dots {
    display: none;
  }
}

.carousel__dot {
  width: 25px;
  height: 25px;
  background-color: #d9d9d9;
  border-radius: 50%;
  cursor: pointer;
  transition: background-color 0.3s;
}

.carousel__dot--active {
  background-color: rgba(0, 0, 0, 0.9);
}
