.customer-feedback {
  background: url(../images/CustomerFeedbackBack/CustomerFeedbackBackGround_image.png) lightgray 50% / cover no-repeat;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customer-feedback__container {
  margin-top: 172px;
  margin-bottom: 136px;
  width: 88%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 4%;
}

@media (max-width: 768px) {
  .customer-feedback__container {
    flex-direction: column;
    margin-top: 49px;
    margin-bottom: 45px;
    margin-left: 16.7%;
    margin-right: 16.7%;
  }
}

.customer-feedback__header {
  background-image: url(../images/CustomerFeedbackBack/CustomerFeedbackTitle_image.png);
  width: 814.5px;
  height: 1063.5px;
  border-radius: 147px 20px 20px 20px;
  background-size: cover;
  background-position: center;
}

@media (max-width: 1367px) {
  .customer-feedback__header {
    width: 543px;
    height: 709px;
  }
}

@media (max-width: 768px) {
  .customer-feedback__header {
    width: 511px;
    height: 606px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__header {
    width: 321px;
    height: 381px;
  }
}

.customer-feedback__title {
  color: #000;
  font-family: Inter;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 3.24px;
  margin: 0;
  margin-top: 39px;
  margin-left: 118px;
  text-align: right;
}

@media (max-width: 1367px) {
  .customer-feedback__title {
    font-size: 36px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__title {
    font-size: 24px;
    margin-top: 39px;
    margin-left: 45px;
    white-space: nowrap;
  }
}

.customer-feedback__list {
  width: 40%;
  display: flex;
  flex-direction: column;
  gap: 60px;
}

@media (max-width: 768px) {
  .customer-feedback__list {
    width: 100%;
    margin-top: 45px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__list {
    align-items: center;
  }
}

.customer-feedback__item {
  height: 700px;
  border-radius: 20px;
  background: #d9d9d9;
  padding-left: 38px;
  padding-right: 38px;
  padding-top: 30px;
}

@media (max-width: 1440px) {
  .customer-feedback__item {
    height: 600px;
  }
}

@media (max-width: 1367px) {
  .customer-feedback__item {
    height: 444px;
  }
}

@media (max-width: 768px) {
  .customer-feedback__item {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__item {
    padding: 0;
    width: 289px;
    height: 290px;
  }
}

.customer-feedback__user {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  .customer-feedback__user {
    align-items: flex-start;
    justify-content: flex-start;
  }
}

@media (max-width: 430px) {
  .customer-feedback__user {
    align-items: center;
    justify-content: start;
    margin-left: 38px;
    margin-top: 15px;
  }
}

.customer-feedback__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.customer-feedback__stars {
  letter-spacing: 8px;
  font-size: 48px;
}

@media (max-width: 1440px) {
  .customer-feedback__stars {
    letter-spacing: 7px;
    font-size: 32px;
  }
}

@media (max-width: 1367px) {
  .customer-feedback__stars {
    letter-spacing: 6px;
    font-size: 24px;
  }
}

@media (max-width: 768px) {
  .customer-feedback__stars {
    letter-spacing: 5px;
    font-size: 24px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__stars {
    letter-spacing: 3px;
    font-size: 11px;
  }
}

.customer-feedback__avatar {
  width: 162px;
  height: 162px;
}

@media (max-width: 1440px) {
  .customer-feedback__avatar {
    width: 100px;
    height: 100px;
  }
}

@media (max-width: 1367px) {
  .customer-feedback__avatar {
    width: 81px;
    height: 81px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__avatar {
    width: 45px;
    height: 45px;
  }
}

.customer-feedback__subtitle {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 8px;
  margin: 0;
  margin-left: 32px;
  margin-top: 58px;
}

@media (max-width: 1440px) {
  .customer-feedback__subtitle {
    font-size: 20px;
    letter-spacing: 5px;
  }
}

@media (max-width: 1367px) {
  .customer-feedback__subtitle {
    font-size: 16px;
  }
}

@media (max-width: 768px) {
  .customer-feedback__subtitle {
    font-size: 20px;
  }
}

@media (max-width: 430px) {
  .customer-feedback__subtitle {
    font-size: 10px;
    line-height: 20px;
    margin: 0;
    margin-top: 12px;
    margin-left: 22px;
    letter-spacing: 5px;
  }
}

.customer-feedback__text {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 50px;
  letter-spacing: 8px;
}

@media (max-width: 1440px) {
  .customer-feedback__text {
    font-size: 18px;
    line-height: 40px;
  }
}

@media (max-width: 1367px) {
  .customer-feedback__text {
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 8px;
    font-weight: 400;
  }
}

@media (max-width: 768px) {
  .customer-feedback__text {
    font-size: 18px;
    line-height: 30px;
    margin-left: 44px;
    margin-bottom: 0;
  }
}

@media (max-width: 430px) {
  .customer-feedback__text {
    font-size: 10px;
    line-height: 20px;
    letter-spacing: 5px;
    margin-top: 15px;
    margin-left: 17px;
    margin-right: 17px;
  }
}
