.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.footer__content {
  display: flex;
  flex-direction: row;
  gap: 171px;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media (max-width: 768px) {
  .footer__content {
    flex-direction: column;
    gap: 60px;
    margin-top: 45px;
  }
}

.footer__contact {
  display: flex;
  flex-direction: column;
  gap: 28px;
}

.footer__title {
  color: #000;
  font-family: 'Inter';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 3.24px;
  line-height: normal;
  margin: 0;
}

.footer__icons {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.footer__icon {
  width: 48px;
  height: 48px;
}

.footer__address {
  display: flex;
  flex-direction: column;
  gap: 61px;
}

.footer__address p {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 3.24px;
  margin: 0;
}

@media (max-width: 768px) {
  .footer__address p {
    font-size: 24px;
  }
}

.footer__map-container {
  height: 100%;
  display: flex;
  justify-content: end;
  margin-top: 66px;
}

@media (max-width: 768px) {
  .footer__map-container {
    margin: 53px auto 0;
    width: 100%;
  }
}

.footer__map {
  width: 624px;
  height: 420px;
  margin-right: 13vw;
}

@media (max-width: 768px) {
  .footer__map {
    margin: 0;
  }
}

.footer__copyright {
  color: #000;
  font-family: 'Noto Sans';
  font-size: 36px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 2.24px;
  margin-top: 65px;
  margin-bottom: 54px;
  margin-left: 26%;
  margin-right: 26%;
  white-space: nowrap;
}

@media (max-width: 768px) {
  .footer__copyright {
    margin: 0;
    text-align: center;
    margin-top: 99px;
  }
}

@media (max-width: 430px) {
  .footer__copyright {
    display: none;
  }
}
